/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'alte_haas_groteskbold';
  src: url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.eot");
  src: url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.woff2") format("woff2"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.woff") format("woff"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.ttf") format("truetype"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskbold-webfont.svg#alte_haas_groteskbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'alte_haas_groteskregular';
  src: url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.eot");
  src: url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.woff2") format("woff2"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.woff") format("woff"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.ttf") format("truetype"), url("../../../assets/fonts/altehaas_grotesk/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body > header {
  background-color: #579c87;
  font-family: "alte_haas_groteskbold", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #fdcb46;
  padding: 1.5rem;
  text-align: center; }

header a {
  text-decoration: none;
  color: inherit; }

body > footer {
  background-color: #579c87;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1.1rem 1rem; }
  body > footer nav {
    display: flex;
    justify-content: space-between; }

footer a {
  text-decoration: none;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem; }

/*# sourceMappingURL=main.css.map */
