@charset "UTF-8";
.grid__menu article {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 60%; }
  @media screen and (min-width: 340px) {
    html {
      font-size: 100%; } }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: 'alte_haas_groteskbold';
  src: url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.eot");
  src: url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.woff2") format("woff2"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.woff") format("woff"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.ttf") format("truetype"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.svg#alte_haas_groteskbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'alte_haas_groteskregular';
  src: url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.eot");
  src: url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.woff2") format("woff2"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.woff") format("woff"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.ttf") format("truetype"), url("../../../assets/fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'devonshireregular';
  src: url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot");
  src: url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff") format("woff"), url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../../assets/fonts/la_note_enchantee/segoeprint/segoepr.ttf); }
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../../assets/fonts/la_note_enchantee/segoeprint/segoeprb.ttf); }
@font-face {
  font-family: 'croissant_oneregular';
  src: url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot");
  src: url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff") format("woff"), url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'serif12_betaregular';
  src: url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot");
  src: url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff") format("woff"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.svg#serif12_betaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'serif12_betabold';
  src: url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot");
  src: url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff") format("woff"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.ttf") format("truetype"), url("../../../assets/fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.svg#serif12_betabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dancing_scriptregular';
  src: url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot");
  src: url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff2") format("woff2"), url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff") format("woff"), url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.ttf") format("truetype"), url("../../../assets/fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot");
  src: url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff") format("woff"), url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.prochainement__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fdcb46;
  background-color: #579c87;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem; }
  @media screen and (min-width: 340px) {
    .prochainement__btn {
      font-size: 1.4rem; } }

body > header {
  background-color: #579c87;
  font-family: "alte_haas_groteskbold", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #fdcb46;
  padding: 1.5rem;
  text-align: center; }

header a {
  text-decoration: none;
  color: inherit; }

body > footer {
  background-color: #579c87;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1.1rem 1rem; }
  body > footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 340px) {
      body > footer nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; } }

footer a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem; }
  footer a:first-child {
    margin-bottom: 10px; }
  @media screen and (min-width: 340px) {
    footer a {
      width: auto; }
      footer a:first-child {
        margin-bottom: 0px; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 70px; }
  @media screen and (min-width: 340px) {
    .container {
      margin-bottom: 100px; } }

.grid__menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
  grid-gap: 2.5rem;
  justify-items: center;
  padding: 10vw 10vw; }
  @media screen and (min-width: 340px) {
    .grid__menu {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2.5rem;
      padding: 2.5rem 3.5rem; } }
  @media screen and (min-width: 576px) {
    .grid__menu {
      padding: 2.5rem 4rem; } }
  .grid__menu article {
    width: 100%;
    height: 100vw; }
    @media screen and (min-width: 340px) {
      .grid__menu article {
        height: 290px; } }
    .grid__menu article a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

#laNoteEnchantée {
  background-color: #fcdfdb; }
  #laNoteEnchantée h2 {
    font-family: "devonshireregular", sans-serif;
    color: #3c1218;
    font-size: 1.2rem; }
  #laNoteEnchantée p {
    font-family: "segoeprint-bold", sans-serif;
    color: #3c1218;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #laNoteEnchantée img {
    width: 1.6rem; }
  #laNoteEnchantée p {
    text-transform: uppercase; }

#leChicALaFrancaise {
  background-color: #fff5feff; }
  #leChicALaFrancaise h2 {
    font-family: "croissant_oneregular", sans-serif;
    color: #c77412, #8f5aff;
    font-size: 1.2rem; }
  #leChicALaFrancaise p {
    font-family: "serif12_betabold", sans-serif;
    color: #c77412ff;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #leChicALaFrancaise h2 {
    font-size: 0.8rem;
    background: -webkit-linear-gradient(0deg, #c77412, #8f5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#leDeliceDesPapilles {
  background-color: #f9f9f9; }
  #leDeliceDesPapilles h2 {
    font-family: "dancing_scriptregular", sans-serif;
    color: #0023db, #0887fb;
    font-size: 1.2rem; }
  #leDeliceDesPapilles p {
    font-family: "segoeprint-regular", sans-serif;
    color: #0887fb;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #leDeliceDesPapilles h2 {
    font-size: 1.3rem;
    background: -webkit-linear-gradient(0deg, #0023db, #0887fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#laPaletteDuGout {
  background-color: #fdfffd; }
  #laPaletteDuGout h2 {
    font-family: "kaushan_scriptregular", sans-serif;
    color: #3e923a, #bcfd7e;
    font-size: 1.2rem; }
  #laPaletteDuGout p {
    font-family: "segoeprint-regular", sans-serif;
    color: #72bf56;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #laPaletteDuGout h2 {
    font-size: 1.3rem;
    background: -webkit-linear-gradient(0deg, #3e923a, #bcfd7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/*# sourceMappingURL=main.css.map */
