// couleurs globales
$color-primary:#579c87;

// typographies globales
$font-color-primary: #fdcb46;
$font-logo: 'alte_haas_groteskbold',
sans-serif;
$font-primary: 'Montserrat',
sans-serif;

// MENUS:

$menus: (laNoteEnchantee: (color: (bg: #fcdfdb,
            logo: #3c1218,
            card: #3c1218),
        font: (logo: 'devonshireregular',
            card: (title: 'segoeprint-bold',
                text: 'segoeprint-regular'
            ))),
    leChicALaFrancaise: (color: (bg: #fff5feff,
            logo: (rgba(199, 116, 18, 1), rgba(143, 90, 255, 1)),
            card: #c77412ff),
        font: (logo: 'croissant_oneregular',
            card: (title: 'serif12_betabold',
                text: 'serif12_betaregular'
            ))),
    leDeliceDesPapilles: (color: (bg: #f9f9f9,
            logo: (#0023db, #0887fb),
            card: #0887fb),
        font: (logo: 'dancing_scriptregular',
            card: (title: 'segoeprint-regular',
                text: 'segoeprint-regular'
            ))),
    laPaletteDuGout: (color: (bg: #fdfffd,
            logo: (#3e923a, #bcfd7e),
            card: #72bf56),
        font: (logo: 'kaushan_scriptregular',
            card: (title: 'segoeprint-regular',
                text: 'segoeprint-regular'
            ))));

// responsive

$breakpoints: (extra-small: 340px,
    small: 576px,
    medium: 768px,
    large: 992px,
    extra-large: 1200px);