// couleurs globales
$color-primary:#579c87;

// typographies globales
$font-color-primary: #fdcb46;
$font-header: 'alte_haas_groteskbold',
sans-serif;
$font-footer: 'Montserrat',
sans-serif;

// MENUS :

// La note enchantée
$bg-laNoteEnchantee: #fcdfdb;
$color-logo-laNoteEnchantee: #3c1218;
$color-menu-laNoteEnchantee: #3c1218;
$font-laNoteEnchantee-logo: 'devonshireregular',
sans-serif;
$font-laNoteEnchantee-menu-title: 'segoeprint-bold',
sans-serif;
$font-laNoteEnchantee-menu-text: 'segoeprint-regular',
sans-serif;

// Le chic à la francaise
$bg-leChicALaFrancaise: #fff5feff;
$color-logo-leChicALaFrancaise: (rgba(199, 116, 18, 1), rgba(143, 90, 255, 1));
$color-menu-leChicALaFrancaise: #c77412ff;
$font-leChicALaFrancaise-logo: 'croissant_oneregular',
sans-serif;
$font-leChicALaFrancaise-menu-title: 'serif12_betabold',
sans-serif;
$font-leChicALaFrancaise-menu-text: 'serif12_betaregular',
sans-serif;

// Le délice des papilles
$bg-leDeliceDesPapilles: #f9f9f9;
$color-logo-leDeliceDesPapilles: (#0023db, #0887fb);
$color-menu-leDeliceDesPapilles: #0887fb;
$font-leDeliceDesPapilles-logo: 'dancing_scriptregular',
sans-serif;
$font-leDeliceDesPapilles-menu-title: 'segoeprint-regular',
sans-serif;
$font-leDeliceDesPapilles-menu-text: 'segoeprint-regular',
sans-serif;

// La palette du goût
$bg-laPaletteDuGout: #fdfffd;
$color-logo-laPaletteDuGout: (#3e923a, #bcfd7e);
$color-menu-laPaletteDuGout: #72bf56;
$font-laPaletteDuGout-logo: 'kaushan_scriptregular',
sans-serif;
$font-laPaletteDuGout-menu-title: 'segoeprint-regular',
sans-serif;
$font-laPaletteDuGout-menu-text: 'segoeprint-regular',
sans-serif;