/* Elements généraux à tout le site */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $global-font-size;
}

a {
    color: inherit;
    text-decoration: none !important;
}

/* HEADER ET FOOTER */

body {
    word-break: break-word;

    &>header {
        background-color: $color-primary;
        color: $font-color-primary;
        font-family: $font-logo;
        font-size: 15vw;
        font-weight: bold;
        letter-spacing: -1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
        height: 144px;
        text-align: center;
    }

    &>footer {
        background-color: $color-primary;
        position: fixed;
        bottom: 0;
        left: 0;
        height: $footer-size;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-align: center;
            color: $font-color-primary;
            font-family: $font-primary;
            font-size: 5vw;
        }
    }
}

/* Container */
main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: $footer-size;

    &>h2 {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        font-size: $global-font-size*1.3;
    }
}



@media screen and (min-width: map-get($breakpoints, small)) {
    body {
        &>header {
            font-size: 4.5rem;
            height: 246px;
            letter-spacing: -0.3rem;

            h1 {
                transform: scale(1);
            }
        }

        &>footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1rem;

            a {
                &:first-child {
                    padding-top: 0;
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, medium)) {
    body {
        &>footer {
            height: $footer-size*1.3;

            a {
                font-size: $global-font-size*2;
            }
        }
    }

    main {
        margin-bottom: $footer-size*1.3;
    }
}