body>footer {
    background-color: $color-primary;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1.1rem 1rem;

    nav {
        display: flex;
        justify-content: space-between;
    }
}

footer a {
    text-decoration: none;
    color: $font-color-primary;
    font-family: $font-primary;
    font-size: 1.1rem;
}