body>header {
    background-color: $color-primary;
    font-family: $font-logo;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: $font-color-primary;
    padding: 1.5rem;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}