.grid__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    article {
        @include thumbnail-size (map-get($thumbnail-width, base));
        margin: 0 auto 1rem;
        @extend %shadow;

        a {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem;
        }

        h2 {
            margin-bottom: 0.5rem;
        }
    }
}

#laNoteEnchantée {

    @include menu_thumbnails ($laNoteEnchantee);

    a {
        color: map-get($laNoteEnchantee, color-primary);
    }

    p {
        text-transform: uppercase;
    }

    img {
        width: 1.5rem;
    }

}

#leChicALaFrancaise {
    @include menu_thumbnails ($leChicALaFrancaise);


    h2 {
        font-size: $global-font-size*0.8;
        @include text-gradient (-90deg, $leChicALaFrancaise);
    }

    p {
        color: map-get($leChicALaFrancaise, color-primary);
    }
}

#leDeliceDesPapilles {
    @include menu_thumbnails ($leDeliceDesPapilles);

    h2 {
        @include text-gradient (-90deg, $leDeliceDesPapilles);
    }

    p {
        color: map-get($leDeliceDesPapilles, color-tertiary);
    }
}

#laPaletteDuGout {
    @include menu_thumbnails ($laPaletteDuGout);

    h2 {
        @include text-gradient (-90deg, $laPaletteDuGout);
    }
}