/* Carte des pages des menus */
main>section {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %shadow;
    text-align: center;

    header {
        font-size: $global-font-size*2;
        margin-bottom: 2rem;
    }

    table {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
    }

    th {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
            margin: 0 0.2rem;
            font-size: $global-font-size*0.9;
        }

        img {
            display: block;
            width: 30%;
            height: auto;
        }
    }

    td {
        &:nth-child(odd) {
            font-size: $global-font-size*0.7;
        }

        &:nth-child(even) {
            font-size: $global-font-size*0.8;
            margin-top: 0.3rem;
        }
    }

    footer {

        p {
            display: inline-block;
            text-align: center;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, extra-small)) {

    main>section {
        padding: 3rem 1rem;

        header {
            font-size: $global-font-size*2.7;
        }

        th h3 {
            font-size: $global-font-size*0.85;
        }

        td {
            &:nth-child(odd) {
                font-size: $global-font-size*0.7;
            }

            &:nth-child(even) {
                font-size: $global-font-size*0.8;
                margin-top: 0.3rem;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, small)) {

    main>section {
        tbody tr {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        td {
            &:nth-child(odd) {
                text-align: left;
                margin-right: 0.5rem;
            }

            &:nth-child(even) {
                text-align: right;
                margin-top: 0;
            }
        }
    }
}