// extra-small: 370px
@media screen and (min-width: map-get($breakpoints, extra-small)) {

    html {
        font-size: $global-font-size*1.2;
    }

    body {
        &>footer {
            nav {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            a {
                &:first-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    main {
        margin-bottom: $footer-size;
    }

    .grid__menu {
        article {
            font-size: $global-font-size*1.1;
            @include thumbnail-size (map-get($thumbnail-width, extra-small));

            h2 {
                margin-bottom: 1.5rem;
            }
        }
    }

    #card {
        padding: 3rem 1rem;

        header {
            font-size: $global-font-size*2.7;
        }

        th h3 {
            font-size: $global-font-size*0.85;
        }

        td {
            &:nth-child(odd) {
                font-size: $global-font-size*0.7;
            }

            &:nth-child(even) {
                font-size: $global-font-size*0.8;
                margin-top: 0.3rem;
            }
        }
    }

    #menu_la_note_enchantee {
        #card {
            header {
                font-size: $global-font-size*2.2;

                img {
                    width: 3rem;
                }
            }
        }
    }
}