// small: 560px
@media screen and (min-width: map-get($breakpoints, small)) {
    .container {
        padding: 2rem 3rem;
    }

    .grid__menu {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto 2rem;

        article {
            @include thumbnail-size (map-get($thumbnail-width, small));

            &:nth-child(2n) {
                margin-left: 1rem;
            }

            &:nth-child(2n+1) {
                margin-right: 1rem;
            }
        }
    }

    .btn {
        font-size: $global-font-size*1.2;
    }

    #card {
        tbody tr {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        td {
            &:nth-child(odd) {
                text-align: left;
                margin-right: 0.5rem;
            }

            &:nth-child(even) {
                text-align: right;
                margin-top: 0;
            }
        }
    }

    #menu_la_note_enchantee {
        #card {
            padding: 3rem 3.5rem 2.5rem;
        }
    }

    #menu_le_chic_a_la_francaise {
        #card {
            padding: 5rem 1rem;

        }
    }
}