// vignettes de la page d'acceuil
@mixin thumbnail-size ($width) {
    $height: $width*1.45;

    width: $width;
    height: $height;
}

// dégradé des textes
@mixin text-gradient ($direction, $restaurant) {

    background: linear-gradient($direction, map-get($restaurant, color-tertiary) 0%, map-get($restaurant, color-secondary) 50%, map-get($restaurant, color-primary) 100%);
    background-clip: text;
    color: transparent;
}