main > section {
  box-shadow: 3px 0 12px lightgrey;
}

/* Carte des pages des menus */
main > section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
main > section header {
  font-size: 3.1rem;
}
main > section th {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
main > section th h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
main > section th img {
  display: none;
}
main > section tbody tr {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main > section td:nth-child(odd) {
  font-size: 1.25rem;
}
main > section td:nth-child(even) {
  font-size: 1.55rem;
}

@media screen and (min-width: 768px) {
  main > section {
    width: 80%;
  }
  main > section th {
    justify-content: space-between;
    padding: 0 5%;
  }
  main > section th img {
    display: inline-block;
    max-width: 15%;
    object-fit: scale-down;
  }
  main > section tbody tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    padding-right: 0;
  }
  main > section td:nth-child(even) {
    text-align: right;
    flex: 1 0 auto;
  }
}
@media screen and (min-width: 992px) {
  main > section th img {
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  main > section th img {
    max-width: 30%;
  }
}
@font-face {
  font-family: 'devonshireregular';
  src: url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot");
  src: url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff2") format("woff2"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff") format("woff"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.ttf") format("truetype"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}
#menu_la_note_enchantee section {
  background-color: #fcdfdb;
  color: #3c1218;
}
#menu_la_note_enchantee section header {
  font-family: "devonshireregular", sans-serif;
  font-size: 3.6rem;
  margin: 2rem 0 3rem 0;
}
#menu_la_note_enchantee section header img {
  width: 4rem;
}
#menu_la_note_enchantee section table {
  margin-bottom: 8rem;
}
#menu_la_note_enchantee section th {
  margin-bottom: 1rem;
}
#menu_la_note_enchantee section th h3 {
  font-family: "segoeprint-bold", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}
#menu_la_note_enchantee section td {
  padding: 0 5%;
}
#menu_la_note_enchantee section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
  margin-top: 2rem;
}
#menu_la_note_enchantee section td:nth-child(even) {
  font-family: "segoeprint-bold", sans-serif;
  margin-top: 1rem;
}
#menu_la_note_enchantee section footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#menu_la_note_enchantee section footer p {
  font-family: "devonshireregular";
  font-size: 2.9rem;
  text-align: center;
}
#menu_la_note_enchantee section footer img {
  width: 3.5rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  #menu_la_note_enchantee section header {
    margin-bottom: 4rem;
  }
  #menu_la_note_enchantee section table {
    margin-bottom: 9.5rem;
  }
  #menu_la_note_enchantee section table:last-of-type {
    margin-bottom: 7.5rem;
  }
  #menu_la_note_enchantee section th {
    margin-bottom: 1.5rem;
  }
  #menu_la_note_enchantee section tbody tr {
    margin-top: 2.25rem;
  }
  #menu_la_note_enchantee section td:nth-child(odd) {
    margin-top: 0;
  }
  #menu_la_note_enchantee section td:nth-child(even) {
    margin-top: 0;
  }
}

/*# sourceMappingURL=la_note_enchantee.css.map */
