main > section {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Carte des pages des menus */
main > section {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main > section header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
main > section table {
  width: 100%;
  margin-bottom: 2.5rem;
}
main > section tbody tr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
main > section th {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main > section th h3 {
  margin: 0 0.2rem;
  font-size: 0.9rem;
}
main > section th img {
  display: block;
  width: 30%;
  height: auto;
}
main > section td:nth-child(odd) {
  font-size: 0.7rem;
}
main > section td:nth-child(even) {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
main > section footer p {
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 370px) {
  main > section {
    padding: 3rem 1rem;
  }
  main > section header {
    font-size: 2.7rem;
  }
  main > section th h3 {
    font-size: 0.85rem;
  }
  main > section td:nth-child(odd) {
    font-size: 0.7rem;
  }
  main > section td:nth-child(even) {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 560px) {
  main > section tbody tr {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    margin-right: 0.5rem;
  }
  main > section td:nth-child(even) {
    text-align: right;
    margin-top: 0;
  }
}
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot");
  src: url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff") format("woff"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.ttf") format("truetype"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
#menu_la_palette_du_gout section {
  background-color: #fdfffd;
  color: black;
}
#menu_la_palette_du_gout section header {
  font-family: "kaushan_scriptregular", sans-serif;
  background: linear-gradient(-90deg, #cefea0 0%, #72bf56 50%, #3d923a 100%);
  background-clip: text;
  color: transparent;
}
#menu_la_palette_du_gout section th {
  font-family: "segoeprint-regular", sans-serif;
  margin-bottom: 1.8rem;
}
#menu_la_palette_du_gout section tbody tr {
  margin: 0 auto 1.1rem;
  width: 90%;
}
#menu_la_palette_du_gout section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
}
#menu_la_palette_du_gout section td:nth-child(even) {
  font-family: "segoeprint-regular", sans-serif;
  font-size: 0.9rem;
}

@media screen and (min-width: 560px) {
  #menu_la_palette_du_gout section {
    padding: 4.5rem 2rem 6rem;
  }
  #menu_la_palette_du_gout section header {
    margin-bottom: 4.5rem;
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=la_palette_du_gout.css.map */
