@charset "UTF-8";
.grid__menu article, .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 60%; }
  @media screen and (min-width: 250px) {
    html {
      font-size: 80%; } }
  @media screen and (min-width: 340px) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 120%; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 135%; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 150%; } }

@font-face {
  font-family: 'alte_haas_groteskbold';
  src: url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.eot");
  src: url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.woff2") format("woff2"), url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.woff") format("woff"), url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.ttf") format("truetype"), url("../fonts/header/altehaas_grotesk/altehaasgroteskbold-webfont.svg#alte_haas_groteskbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'alte_haas_groteskregular';
  src: url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.eot");
  src: url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.woff2") format("woff2"), url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.woff") format("woff"), url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.ttf") format("truetype"), url("../fonts/header/altehaas_grotesk/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'devonshireregular';
  src: url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot");
  src: url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff") format("woff"), url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.ttf") format("truetype"), url("../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../fonts/la_note_enchantee/segoeprint/segoepr.ttf); }
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../fonts/la_note_enchantee/segoeprint/segoeprb.ttf); }
@font-face {
  font-family: 'croissant_oneregular';
  src: url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot");
  src: url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff2") format("woff2"), url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff") format("woff"), url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.ttf") format("truetype"), url("../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'serif12_betaregular';
  src: url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot");
  src: url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff2") format("woff2"), url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff") format("woff"), url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.ttf") format("truetype"), url("../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.svg#serif12_betaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'serif12_betabold';
  src: url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot");
  src: url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff2") format("woff2"), url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff") format("woff"), url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.ttf") format("truetype"), url("../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.svg#serif12_betabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dancing_scriptregular';
  src: url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot");
  src: url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff2") format("woff2"), url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff") format("woff"), url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.ttf") format("truetype"), url("../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot");
  src: url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff") format("woff"), url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.ttf") format("truetype"), url("../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.prochainement__btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fdcb46;
  background-color: #579c87;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
  margin: 1rem auto; }
  @media screen and (min-width: 340px) {
    .prochainement__btn {
      font-size: 1.4rem; } }

body > header {
  background-color: #579c87;
  font-family: "alte_haas_groteskbold", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #fdcb46;
  padding: 1.5rem;
  text-align: center; }

header a {
  text-decoration: none;
  color: inherit; }

body > footer {
  background-color: #579c87;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1.1rem 1rem; }
  body > footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 340px) {
      body > footer nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; } }

footer a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem; }
  footer a:first-child {
    margin-bottom: 10px; }
  @media screen and (min-width: 340px) {
    footer a {
      width: auto; }
      footer a:first-child {
        margin-bottom: 0px; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 6.6rem; }
  @media screen and (min-width: 340px) {
    .container {
      margin-bottom: 3.3rem; } }

.grid__menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
  grid-gap: 2.5rem;
  justify-items: center; }
  @media screen and (min-width: 340px) {
    .grid__menu {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2.5rem; } }
  .grid__menu article {
    width: 100%;
    height: 100vw; }
    @media screen and (min-width: 340px) {
      .grid__menu article {
        height: 290px; } }
    .grid__menu article a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

#laNoteEnchantée {
  background-color: #fcdfdb; }
  #laNoteEnchantée h2 {
    font-family: "devonshireregular", sans-serif;
    color: #3c1218;
    font-size: 1.2rem; }
  #laNoteEnchantée p {
    font-family: "segoeprint-bold", sans-serif;
    color: #3c1218;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #laNoteEnchantée img {
    width: 1.6rem; }
  #laNoteEnchantée p {
    text-transform: uppercase; }

#leChicALaFrancaise {
  background-color: #fff5feff; }
  #leChicALaFrancaise h2 {
    font-family: "croissant_oneregular", sans-serif;
    color: #c67412;
    font-size: 1.2rem; }
  #leChicALaFrancaise p {
    font-family: "serif12_betabold", sans-serif;
    color: #a56799;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #leChicALaFrancaise h2 {
    font-size: 0.8rem;
    background: -webkit-linear-gradient(0deg, #c67412 0%, #a56799 50%, #6e4ccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#leDeliceDesPapilles {
  background-color: #f9f9f9; }
  #leDeliceDesPapilles h2 {
    font-family: "dancing_scriptregular", sans-serif;
    color: #0228dd;
    font-size: 1.2rem; }
  #leDeliceDesPapilles p {
    font-family: "segoeprint-regular", sans-serif;
    color: #0670f3;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #leDeliceDesPapilles h2 {
    font-size: 1.3rem;
    background: -webkit-linear-gradient(0deg, #0228dd 0%, #0670f3 50%, #229df9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#laPaletteDuGout {
  background-color: #fdfffd; }
  #laPaletteDuGout h2 {
    font-family: "kaushan_scriptregular", sans-serif;
    color: #3d923a;
    font-size: 1.2rem; }
  #laPaletteDuGout p {
    font-family: "segoeprint-regular", sans-serif;
    color: #72bf56;
    font-size: 1.4rem;
    margin-top: 1.2rem; }
  #laPaletteDuGout h2 {
    font-size: 1.3rem;
    background: -webkit-linear-gradient(0deg, #3d923a 0%, #72bf56 50%, #cefea0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  margin-bottom: 6.6rem; }
  @media screen and (min-width: 340px) {
    main {
      margin-bottom: 3.3rem; } }
  @media screen and (min-width: 576px) {
    main {
      padding: 2.5rem 3.5rem; } }
  main > h2 {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; }

#menu_la_note_enchantee .primary {
  color: #3c1218; }
#menu_la_note_enchantee .secondary {
  color: #3c1218; }
#menu_la_note_enchantee .tertiary {
  color: #3c1218; }
#menu_la_note_enchantee .card {
  background-color: #fcdfdb;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 340px) {
    #menu_la_note_enchantee .card {
      padding: 2rem 1.5rem; } }
  @media screen and (min-width: 576px) {
    #menu_la_note_enchantee .card {
      padding: 2.5rem 3.5rem; } }
  #menu_la_note_enchantee .card__header {
    text-align: center;
    font-family: "devonshireregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #3c1218 0%, #3c1218 50%, #3c1218 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu_la_note_enchantee .card__body {
    width: 100%; }
    #menu_la_note_enchantee .card__body tbody tr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 576px) {
        #menu_la_note_enchantee .card__body tbody tr {
          flex-direction: row;
          align-items: flex-start;
          margin-left: auto;
          margin-right: auto; } }
    #menu_la_note_enchantee .card__body-title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      #menu_la_note_enchantee .card__body-title h3 {
        font-family: "segoeprint-bold", sans-serif;
        margin: 0 0.2rem; }
      #menu_la_note_enchantee .card__body-title img {
        display: block;
        width: 30%;
        height: auto; }
        @media screen and (min-width: 992px) {
          #menu_la_note_enchantee .card__body-title img {
            width: 35%;
            height: 0.5rem; } }
    #menu_la_note_enchantee .card__body-text {
      font-family: "segoeprint-regular"; }
      @media screen and (min-width: 576px) {
        #menu_la_note_enchantee .card__body-text {
          text-align: left;
          margin-right: 1rem; } }
    #menu_la_note_enchantee .card__body-price {
      font-family: "segoeprint-bold"; }
      @media screen and (min-width: 576px) {
        #menu_la_note_enchantee .card__body-price {
          text-align: right; } }
  #menu_la_note_enchantee .card__footer p {
    display: inline-block;
    text-align: center;
    font-family: "devonshireregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #3c1218 0%, #3c1218 50%, #3c1218 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
#menu_la_note_enchantee .card__header {
  font-size: 1.8rem;
  margin-bottom: 0.8rem; }
  #menu_la_note_enchantee .card__header img {
    width: 20%; }
  @media screen and (min-width: 992px) {
    #menu_la_note_enchantee .card__header {
      margin-bottom: 1rem; }
      #menu_la_note_enchantee .card__header img {
        width: 25%; } }
#menu_la_note_enchantee .card__body {
  margin-top: 1rem;
  line-height: 1.3; }
  #menu_la_note_enchantee .card__body tbody tr {
    margin-bottom: 0.9rem; }
    #menu_la_note_enchantee .card__body tbody tr:first-child {
      margin-top: 1.1rem; }
    #menu_la_note_enchantee .card__body tbody tr:last-child {
      margin-bottom: 2rem; }
  #menu_la_note_enchantee .card__body-title h3 {
    font-size: 0.9rem; }
  #menu_la_note_enchantee .card__body-text {
    font-size: 0.6rem; }
  #menu_la_note_enchantee .card__body-price {
    font-size: 0.7rem;
    margin-top: 0.2rem; }
    @media screen and (min-width: 576px) {
      #menu_la_note_enchantee .card__body-price {
        margin-top: 0; } }
#menu_la_note_enchantee .card__footer {
  margin-top: 0.6rem; }
  #menu_la_note_enchantee .card__footer img {
    display: inline-block;
    width: 1.5rem;
    vertical-align: bottom;
    margin-right: 0.2rem; }
  #menu_la_note_enchantee .card__footer p {
    font-size: 1.4rem; }

#menu_le_chic_a_la_francaise .primary {
  color: #c67412; }
#menu_le_chic_a_la_francaise .secondary {
  color: #a56799; }
#menu_le_chic_a_la_francaise .tertiary {
  color: #6e4ccc; }
#menu_le_chic_a_la_francaise .card {
  background-color: #fff5feff;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 340px) {
    #menu_le_chic_a_la_francaise .card {
      padding: 2rem 1.5rem; } }
  @media screen and (min-width: 576px) {
    #menu_le_chic_a_la_francaise .card {
      padding: 2.5rem 3.5rem; } }
  #menu_le_chic_a_la_francaise .card__header {
    text-align: center;
    font-family: "croissant_oneregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #c67412 0%, #a56799 50%, #6e4ccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu_le_chic_a_la_francaise .card__body {
    width: 100%; }
    #menu_le_chic_a_la_francaise .card__body tbody tr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 576px) {
        #menu_le_chic_a_la_francaise .card__body tbody tr {
          flex-direction: row;
          align-items: flex-start;
          margin-left: auto;
          margin-right: auto; } }
    #menu_le_chic_a_la_francaise .card__body-title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      #menu_le_chic_a_la_francaise .card__body-title h3 {
        font-family: "serif12_betabold", sans-serif;
        margin: 0 0.2rem; }
      #menu_le_chic_a_la_francaise .card__body-title img {
        display: block;
        width: 30%;
        height: auto; }
        @media screen and (min-width: 992px) {
          #menu_le_chic_a_la_francaise .card__body-title img {
            width: 35%;
            height: 0.5rem; } }
    #menu_le_chic_a_la_francaise .card__body-text {
      font-family: "serif12_betaregular"; }
      @media screen and (min-width: 576px) {
        #menu_le_chic_a_la_francaise .card__body-text {
          text-align: left;
          margin-right: 1rem; } }
    #menu_le_chic_a_la_francaise .card__body-price {
      font-family: "serif12_betabold"; }
      @media screen and (min-width: 576px) {
        #menu_le_chic_a_la_francaise .card__body-price {
          text-align: right; } }
  #menu_le_chic_a_la_francaise .card__footer p {
    display: inline-block;
    text-align: center;
    font-family: "croissant_oneregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #c67412 0%, #a56799 50%, #6e4ccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
#menu_le_chic_a_la_francaise .card {
  padding: 5rem 0 6rem 0; }
  #menu_le_chic_a_la_francaise .card__header {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem; }
  #menu_le_chic_a_la_francaise .card__body {
    width: 90%;
    margin-top: 1rem;
    line-height: 1.3; }
    #menu_le_chic_a_la_francaise .card__body tbody tr {
      margin-bottom: 0.9rem; }
      #menu_le_chic_a_la_francaise .card__body tbody tr:first-child {
        margin-top: 1.1rem; }
      #menu_le_chic_a_la_francaise .card__body tbody tr:last-child {
        margin-bottom: 2rem; }
      @media screen and (min-width: 576px) {
        #menu_le_chic_a_la_francaise .card__body tbody tr {
          width: 80%; } }
    #menu_le_chic_a_la_francaise .card__body-title h3 {
      font-size: 0.85rem; }
    #menu_le_chic_a_la_francaise .card__body-text {
      font-size: 0.75rem; }
    #menu_le_chic_a_la_francaise .card__body-price {
      font-size: 0.85rem;
      margin-top: 0.2rem; }
      @media screen and (min-width: 576px) {
        #menu_le_chic_a_la_francaise .card__body-price {
          margin-top: 0; } }

#menu_le_delice_des_papilles .primary {
  color: #0228dd; }
#menu_le_delice_des_papilles .secondary {
  color: #0670f3; }
#menu_le_delice_des_papilles .tertiary {
  color: #229df9; }
#menu_le_delice_des_papilles .card {
  background-color: #f9f9f9;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 340px) {
    #menu_le_delice_des_papilles .card {
      padding: 2rem 1.5rem; } }
  @media screen and (min-width: 576px) {
    #menu_le_delice_des_papilles .card {
      padding: 2.5rem 3.5rem; } }
  #menu_le_delice_des_papilles .card__header {
    text-align: center;
    font-family: "dancing_scriptregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #0228dd 0%, #0670f3 50%, #229df9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu_le_delice_des_papilles .card__body {
    width: 100%; }
    #menu_le_delice_des_papilles .card__body tbody tr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body tbody tr {
          flex-direction: row;
          align-items: flex-start;
          margin-left: auto;
          margin-right: auto; } }
    #menu_le_delice_des_papilles .card__body-title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      #menu_le_delice_des_papilles .card__body-title h3 {
        font-family: "segoeprint-regular", sans-serif;
        margin: 0 0.2rem; }
      #menu_le_delice_des_papilles .card__body-title img {
        display: block;
        width: 30%;
        height: auto; }
        @media screen and (min-width: 992px) {
          #menu_le_delice_des_papilles .card__body-title img {
            width: 35%;
            height: 0.5rem; } }
    #menu_le_delice_des_papilles .card__body-text {
      font-family: "segoeprint-regular"; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body-text {
          text-align: left;
          margin-right: 1rem; } }
    #menu_le_delice_des_papilles .card__body-price {
      font-family: "segoeprint-regular"; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body-price {
          text-align: right; } }
  #menu_le_delice_des_papilles .card__footer p {
    display: inline-block;
    text-align: center;
    font-family: "dancing_scriptregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #0228dd 0%, #0670f3 50%, #229df9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
#menu_le_delice_des_papilles .card {
  padding: 3rem 1rem 4rem 1rem; }
  #menu_le_delice_des_papilles .card__header {
    font-size: 1.5rem;
    margin-bottom: 0.8rem; }
    @media screen and (min-width: 576px) {
      #menu_le_delice_des_papilles .card__header {
        font-size: 3.2rem;
        margin-bottom: 3.5rem; } }
  #menu_le_delice_des_papilles .card__body {
    margin-top: 1rem;
    line-height: 1.3; }
    #menu_le_delice_des_papilles .card__body tbody tr {
      margin-bottom: 0.8rem; }
      #menu_le_delice_des_papilles .card__body tbody tr:first-child {
        margin-top: 1.1rem; }
      #menu_le_delice_des_papilles .card__body tbody tr:last-child {
        margin-bottom: 1rem; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body tbody tr {
          width: 80%; } }
    #menu_le_delice_des_papilles .card__body-title h3 {
      font-size: 0.7rem; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body-title h3 {
          font-size: 0.8rem; } }
    #menu_le_delice_des_papilles .card__body-title img {
      width: 33%; }
    @media screen and (min-width: 576px) {
      #menu_le_delice_des_papilles .card__body-title {
        margin-bottom: 0.8rem; } }
    #menu_le_delice_des_papilles .card__body-text {
      font-size: 0.6rem; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body-text {
          font-size: 0.7rem; } }
    #menu_le_delice_des_papilles .card__body-price {
      font-size: 0.7rem;
      margin-top: 0.2rem; }
      @media screen and (min-width: 576px) {
        #menu_le_delice_des_papilles .card__body-price {
          margin-top: 0;
          font-size: 1rem; } }
  @media screen and (min-width: 576px) {
    #menu_le_delice_des_papilles .card {
      padding: 5rem 1.5rem 8rem 1.5rem; } }

#menu_la_palette_du_gout .primary {
  color: #3d923a; }
#menu_la_palette_du_gout .secondary {
  color: #72bf56; }
#menu_la_palette_du_gout .tertiary {
  color: #cefea0; }
#menu_la_palette_du_gout .card {
  background-color: #fdfffd;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 340px) {
    #menu_la_palette_du_gout .card {
      padding: 2rem 1.5rem; } }
  @media screen and (min-width: 576px) {
    #menu_la_palette_du_gout .card {
      padding: 2.5rem 3.5rem; } }
  #menu_la_palette_du_gout .card__header {
    text-align: center;
    font-family: "kaushan_scriptregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #3d923a 0%, #72bf56 50%, #cefea0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu_la_palette_du_gout .card__body {
    width: 100%; }
    #menu_la_palette_du_gout .card__body tbody tr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body tbody tr {
          flex-direction: row;
          align-items: flex-start;
          margin-left: auto;
          margin-right: auto; } }
    #menu_la_palette_du_gout .card__body-title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      #menu_la_palette_du_gout .card__body-title h3 {
        font-family: "segoeprint-regular", sans-serif;
        margin: 0 0.2rem; }
      #menu_la_palette_du_gout .card__body-title img {
        display: block;
        width: 30%;
        height: auto; }
        @media screen and (min-width: 992px) {
          #menu_la_palette_du_gout .card__body-title img {
            width: 35%;
            height: 0.5rem; } }
    #menu_la_palette_du_gout .card__body-text {
      font-family: "segoeprint-regular"; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body-text {
          text-align: left;
          margin-right: 1rem; } }
    #menu_la_palette_du_gout .card__body-price {
      font-family: "segoeprint-regular"; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body-price {
          text-align: right; } }
  #menu_la_palette_du_gout .card__footer p {
    display: inline-block;
    text-align: center;
    font-family: "kaushan_scriptregular", sans-serif;
    background: -webkit-linear-gradient(0deg, #3d923a 0%, #72bf56 50%, #cefea0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
#menu_la_palette_du_gout .card {
  padding: 4rem 1rem 6rem 1rem; }
  #menu_la_palette_du_gout .card__header {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
    @media screen and (min-width: 576px) {
      #menu_la_palette_du_gout .card__header {
        font-size: 3.2rem;
        margin-bottom: 4rem; } }
  #menu_la_palette_du_gout .card__body {
    margin-top: 1rem;
    line-height: 1.3; }
    #menu_la_palette_du_gout .card__body tbody tr {
      margin-bottom: 0.6rem; }
      #menu_la_palette_du_gout .card__body tbody tr:first-child {
        margin-top: 1.1rem; }
      #menu_la_palette_du_gout .card__body tbody tr:last-child {
        margin-bottom: 1.2rem; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body tbody tr {
          width: 80%; } }
    #menu_la_palette_du_gout .card__body-title h3 {
      font-size: 0.7rem; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body-title h3 {
          font-size: 0.8rem; } }
    #menu_la_palette_du_gout .card__body-title img {
      width: 36%; }
    @media screen and (min-width: 576px) {
      #menu_la_palette_du_gout .card__body-title {
        margin-bottom: 0.6rem; } }
    #menu_la_palette_du_gout .card__body-text {
      font-size: 0.6rem; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body-text {
          font-size: 0.7rem; } }
    #menu_la_palette_du_gout .card__body-price {
      font-size: 0.8rem;
      margin-top: 0.2rem; }
      @media screen and (min-width: 576px) {
        #menu_la_palette_du_gout .card__body-price {
          margin-top: 0;
          font-size: 1rem; } }
  @media screen and (min-width: 576px) {
    #menu_la_palette_du_gout .card {
      padding: 5rem 1.5rem 8rem 1.5rem; } }

/*# sourceMappingURL=main.css.map */
