main > section {
  -webkit-box-shadow: 3px 0 12px lightgrey;
          box-shadow: 3px 0 12px lightgrey;
}

/* Carte des pages des menus */
main > section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
main > section header {
  font-size: 3.1rem;
}
main > section table {
  width: 100%;
}
main > section th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}
main > section th img {
  display: none;
}
main > section tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main > section td:nth-child(odd) {
  font-size: 1.25rem;
}
main > section td:nth-child(even) {
  font-size: 1.55rem;
}

@media screen and (min-width: 768px) {
  main > section {
    width: 80%;
  }
  main > section th {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  main > section th img {
    display: inline-block;
    max-width: 15%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  main > section tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  main > section td:nth-child(even) {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 992px) {
  main > section th img {
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  main > section th img {
    width: 30%;
    max-width: 300px;
  }
}
@font-face {
  font-family: 'devonshireregular';
  src: url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot");
  src: url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff2") format("woff2"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.woff") format("woff"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.ttf") format("truetype"), url("../../fonts/la_note_enchantee/devonshire-regular/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}
#menu_la_note_enchantee section {
  background-color: #fcdfdb;
  color: #3c1218;
}
#menu_la_note_enchantee section header {
  font-family: "devonshireregular", sans-serif;
  font-size: 3.6rem;
  margin: 2rem 0 3rem 0;
}
#menu_la_note_enchantee section header img {
  width: 4rem;
}
#menu_la_note_enchantee section table {
  margin-bottom: 8rem;
}
#menu_la_note_enchantee section th {
  margin-bottom: 1rem;
  font-family: "segoeprint-bold", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}
#menu_la_note_enchantee section th span {
  position: relative;
}
#menu_la_note_enchantee section th span::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #3c1218;
  opacity: 0.8;
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
#menu_la_note_enchantee section th span:hover::after {
  width: 100%;
}
#menu_la_note_enchantee section td {
  padding: 0 5%;
}
#menu_la_note_enchantee section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
  margin-top: 2rem;
}
#menu_la_note_enchantee section td:nth-child(even) {
  font-family: "segoeprint-bold", sans-serif;
  margin-top: 1rem;
}
#menu_la_note_enchantee section footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
#menu_la_note_enchantee section footer p {
  font-family: "devonshireregular";
  font-size: 2.9rem;
  text-align: center;
}
#menu_la_note_enchantee section footer img {
  width: 3.5rem;
  margin-right: 1rem;
}

@media screen and (min-width: 577px) {
  #menu_la_note_enchantee section table {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  #menu_la_note_enchantee section header {
    margin-bottom: 4rem;
  }
  #menu_la_note_enchantee section table {
    margin-bottom: 9.5rem;
    margin-top: 0;
  }
  #menu_la_note_enchantee section table:last-of-type {
    margin-bottom: 7.5rem;
  }
  #menu_la_note_enchantee section th {
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
  }
  #menu_la_note_enchantee section tbody tr {
    margin-top: 2.25rem;
  }
  #menu_la_note_enchantee section td:nth-child(odd) {
    margin-top: 0;
  }
  #menu_la_note_enchantee section td:nth-child(even) {
    margin-top: 0;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdXRpbHMvX3BsYWNlaG9sZGVyLnNjc3MiLCIuLi9sYV9ub3RlX2VuY2hhbnRlZS5jc3MiLCIuLi9zY3NzL3BhZ2VzL19tZW51cy5zY3NzIiwiLi4vc2Nzcy9sYV9ub3RlX2VuY2hhbnRlZS5zY3NzIiwiLi4vc2Nzcy91dGlscy9fdmFyaWFibGVzLnNjc3MiLCIuLi9zY3NzL3V0aWxzL19taXhpbnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFJQTtFQUNJLHdDQUFnQztVQUFoQyxnQ0FBZ0M7QUNIcEM7O0FDRkEsOEJBQUE7QUFDQTtFQUNJLFVBQVU7RUFDVixvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLDRCQUFzQjtFQUF0Qiw2QkFBc0I7TUFBdEIsMEJBQXNCO1VBQXRCLHNCQUFzQjtFQUN0Qix3QkFBdUI7TUFBdkIscUJBQXVCO1VBQXZCLHVCQUF1QjtFQUN2Qix5QkFBbUI7TUFBbkIsc0JBQW1CO1VBQW5CLG1CQUFtQjtFQUVuQixrQkFBa0I7RUFDbEIsV0FBVztFQUNYLFVBQVU7QURJZDtBQ0ZJO0VBQ0ksaUJBQWdDO0FESXhDO0FDREk7RUFDSSxXQUFXO0FER25CO0FDQUk7RUFDSSxvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHFCQUFpQjtNQUFqQixpQkFBaUI7RUFDakIsd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsaUJBQWdDO0VBQ2hDLGlCQUFpQjtBREV6QjtBQ0NRO0VBQ0ksYUFBYTtBREN6QjtBQ0dJO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw0QkFBc0I7RUFBdEIsNkJBQXNCO01BQXRCLDBCQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIsdUJBQXNCO01BQXRCLG9CQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsV0FBVztBRERuQjtBQ0tRO0VBQ0ksa0JBQWlDO0FESDdDO0FDTVE7RUFDSSxrQkFBaUM7QURKN0M7O0FDU0E7RUFDSTtJQUNJLFVBQVU7RUROaEI7RUNRTTtJQUNJLHlCQUE4QjtRQUE5QixzQkFBOEI7WUFBOUIsOEJBQThCO0lBQzlCLGFBQWE7RUROdkI7RUNRVTtJQUNJLHFCQUFxQjtJQUNyQixjQUFjO0lBQ2QseUJBQXNCO09BQXRCLHNCQUFzQjtFRE5wQztFQ1VNO0lBQ0ksb0JBQWE7SUFBYixvQkFBYTtJQUFiLGFBQWE7SUFDYiw4QkFBcUI7SUFBckIsNkJBQXFCO1FBQXJCLHlCQUFxQjtZQUFyQixxQkFBcUI7SUFDckIseUJBQThCO1FBQTlCLHNCQUE4QjtZQUE5Qiw4QkFBOEI7SUFDOUIsd0JBQXVCO1FBQXZCLHFCQUF1QjtZQUF2Qix1QkFBdUI7RURSakM7RUNZVTtJQUNJLGdCQUFnQjtJQUNoQixnQkFBZ0I7SUFDaEIsbUJBQWE7UUFBYixpQkFBYTtZQUFiLGFBQWE7RURWM0I7RUNhVTtJQUNJLGlCQUFpQjtJQUNqQixtQkFBYztRQUFkLGtCQUFjO1lBQWQsY0FBYztFRFg1QjtBQUNGO0FDZ0JBO0VBR1k7SUFDSSxjQUFjO0VEaEI1QjtBQUNGO0FDcUJBO0VBR1k7SUFDSSxVQUFVO0lBQ1YsZ0JBQWdCO0VEckI5QjtBQUNGO0FFL0VBO0VBQ0ksZ0NBQWdDO0VBQ2hDLDJGQUEyRjtFQUMzRixtakJBSTBIO0VBQzFILG1CQUFtQjtFQUNuQixrQkFBa0I7QUY2RXRCO0FFekVBO0VBQ0ksaUNBQWlDO0VBQ2pDLDhEQUE4RDtBRjJFbEU7QUV4RUE7RUFDSSw4QkFBOEI7RUFDOUIsK0RBQStEO0FGMEVuRTtBRXBFSTtFQUNJLHlCQ1pzQjtFRGF0QixjQ1prQjtBSGtGMUI7QUVwRVE7RUFDSSw0Q0FBZ0U7RUFDaEUsaUJBQWdDO0VBQ2hDLHFCQUFxQjtBRnNFakM7QUVwRVk7RUFDSSxXQUFXO0FGc0UzQjtBRWxFUTtFQUNJLG1CQUFtQjtBRm9FL0I7QUVqRVE7RUFDSSxtQkFBbUI7RUFFbkIsMENBQWtFO0VBQ2xFLGVBQThCO0VBQzlCLG1CQUFtQjtBRmtFL0I7QUl2R0k7RUFDSSxrQkFBa0I7QUp5RzFCO0FJdkdRO0VBQ0ksWUFBWTtFQUNaLGtCQUFrQjtFQUNsQixPQUFPO0VBQ1AsWUFBWTtFQUNaLHlCQVYyQjtFQVczQixZQUFZO0VBQ1osV0FBVztFQUNYLFNBQVM7RUFDVCw4QkFBc0I7RUFBdEIseUJBQXNCO0VBQXRCLHNCQUFzQjtBSnlHbEM7QUl0R1E7RUFDSSxXQUFXO0FKd0d2QjtBRWhGUTtFQUVJLGFBQWE7QUZpRnpCO0FFL0VZO0VBQ0ksNkNBQWlFO0VBQ2pFLGdCQUFnQjtBRmlGaEM7QUU5RVk7RUFDSSwwQ0FBMEM7RUFDMUMsZ0JBQWdCO0FGZ0ZoQztBRTVFUTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2Isd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsbUJBQW1CO0FGOEUvQjtBRTVFWTtFQUNJLGdDQ3pEcUI7RUQwRHJCLGlCQUFnQztFQUNoQyxrQkFBa0I7QUY4RWxDO0FFM0VZO0VBQ0ksYUFBYTtFQUNiLGtCQUFrQjtBRjZFbEM7O0FFdkVBO0VBRVE7SUFDSSxnQkFBZ0I7RUZ5RTFCO0FBQ0Y7QUVyRUE7RUFFUTtJQUNJLG1CQUFtQjtFRnNFN0I7RUVuRU07SUFDSSxxQkFBcUI7SUFDckIsYUFBYTtFRnFFdkI7RUVuRVU7SUFDSSxxQkFBcUI7RUZxRW5DO0VFakVNO0lBQ0kscUJBQXFCO0lBQ3JCLGlCQUFpQjtFRm1FM0I7RUVoRU07SUFDSSxtQkFBbUI7RUZrRTdCO0VFOURVO0lBQ0ksYUFBYTtFRmdFM0I7RUU3RFU7SUFDSSxhQUFhO0VGK0QzQjtBQUNGIiwiZmlsZSI6ImxhX25vdGVfZW5jaGFudGVlLmNzcyJ9 */