main > section {
  -webkit-box-shadow: 3px 0 12px lightgrey;
          box-shadow: 3px 0 12px lightgrey;
}

/* Carte des pages des menus */
main > section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
main > section header {
  font-size: 3.1rem;
}
main > section th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main > section th h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
main > section th img {
  display: none;
}
main > section tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main > section td:nth-child(odd) {
  font-size: 1.25rem;
}
main > section td:nth-child(even) {
  font-size: 1.55rem;
}

@media screen and (min-width: 768px) {
  main > section {
    width: 80%;
  }
  main > section th {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  main > section th img {
    display: inline-block;
    max-width: 15%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  main > section tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  main > section td:nth-child(even) {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 992px) {
  main > section th img {
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  main > section th img {
    max-width: 30%;
  }
}
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot");
  src: url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff") format("woff"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.ttf") format("truetype"), url("../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}
#menu_la_palette_du_gout section {
  background-color: #fdfffd;
  color: black;
}
#menu_la_palette_du_gout section header {
  font-family: "kaushan_scriptregular", sans-serif;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #cefea0), color-stop(34%, #72bf56), color-stop(66%, #3d923a));
  background: -o-linear-gradient(right, #cefea0 10%, #72bf56 34%, #3d923a 66%);
  background: linear-gradient(-90deg, #cefea0 10%, #72bf56 34%, #3d923a 66%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#menu_la_palette_du_gout section table {
  margin-bottom: 2rem;
}
#menu_la_palette_du_gout section th {
  font-family: "segoeprint-regular", sans-serif;
  margin-bottom: 2rem;
}
#menu_la_palette_du_gout section tbody tr {
  margin: 0 auto 1.1rem;
  width: 90%;
}
#menu_la_palette_du_gout section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
}
#menu_la_palette_du_gout section td:nth-child(even) {
  font-family: "segoeprint-regular", sans-serif;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdXRpbHMvX3BsYWNlaG9sZGVyLnNjc3MiLCIuLi9sYV9wYWxldHRlX2R1X2dvdXQuY3NzIiwiLi4vc2Nzcy9wYWdlcy9fbWVudXMuc2NzcyIsIi4uL3Njc3MvbGFfcGFsZXR0ZV9kdV9nb3V0LnNjc3MiLCIuLi9zY3NzL3V0aWxzL192YXJpYWJsZXMuc2NzcyIsIi4uL3Njc3MvdXRpbHMvX21peGlucy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlBO0VBQ0ksd0NBQWdDO1VBQWhDLGdDQUFnQztBQ0hwQzs7QUNGQSw4QkFBQTtBQUNBO0VBQ0ksVUFBVTtFQUNWLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsNEJBQXNCO0VBQXRCLDZCQUFzQjtNQUF0QiwwQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBRW5CLGtCQUFrQjtFQUNsQixXQUFXO0VBQ1gsVUFBVTtBRElkO0FDRkk7RUFDSSxpQkFBZ0M7QURJeEM7QUNESTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IscUJBQWlCO01BQWpCLGlCQUFpQjtFQUNqQix3QkFBdUI7TUFBdkIscUJBQXVCO1VBQXZCLHVCQUF1QjtFQUN2Qix5QkFBbUI7TUFBbkIsc0JBQW1CO1VBQW5CLG1CQUFtQjtBREczQjtBQ0RRO0VBQ0ksaUJBQWdDO0VBQ2hDLGlCQUFpQjtBREc3QjtBQ0FRO0VBQ0ksYUFBYTtBREV6QjtBQ0VJO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw0QkFBc0I7RUFBdEIsNkJBQXNCO01BQXRCLDBCQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIsdUJBQXNCO01BQXRCLG9CQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7QURBM0I7QUNJUTtFQUNJLGtCQUFpQztBREY3QztBQ0tRO0VBQ0ksa0JBQWlDO0FESDdDOztBQ1FBO0VBQ0k7SUFDSSxVQUFVO0VETGhCO0VDT007SUFDSSx5QkFBOEI7UUFBOUIsc0JBQThCO1lBQTlCLDhCQUE4QjtJQUM5QixhQUFhO0VETHZCO0VDT1U7SUFDSSxxQkFBcUI7SUFDckIsY0FBYztJQUNkLHlCQUFzQjtPQUF0QixzQkFBc0I7RURMcEM7RUNTTTtJQUNJLG9CQUFhO0lBQWIsb0JBQWE7SUFBYixhQUFhO0lBQ2IsOEJBQXFCO0lBQXJCLDZCQUFxQjtRQUFyQix5QkFBcUI7WUFBckIscUJBQXFCO0lBQ3JCLHlCQUE4QjtRQUE5QixzQkFBOEI7WUFBOUIsOEJBQThCO0lBQzlCLHdCQUF1QjtRQUF2QixxQkFBdUI7WUFBdkIsdUJBQXVCO0VEUGpDO0VDV1U7SUFDSSxnQkFBZ0I7SUFDaEIsZ0JBQWdCO0lBQ2hCLG1CQUFhO1FBQWIsaUJBQWE7WUFBYixhQUFhO0VEVDNCO0VDWVU7SUFDSSxpQkFBaUI7SUFDakIsbUJBQWM7UUFBZCxrQkFBYztZQUFkLGNBQWM7RURWNUI7QUFDRjtBQ2VBO0VBR1k7SUFDSSxjQUFjO0VEZjVCO0FBQ0Y7QUNvQkE7RUFHWTtJQUNJLGNBQWM7RURwQjVCO0FBQ0Y7QUU1RUE7RUFDSSxvQ0FBb0M7RUFDcEMsMEZBQTBGO0VBQzFGLGtqQkFJNkg7RUFDN0gsbUJBQW1CO0VBQ25CLGtCQUFrQjtBRjBFdEI7QUV2RUE7RUFDSSxpQ0FBaUM7RUFDakMsOERBQThEO0FGeUVsRTtBRXRFQTtFQUNJLDhCQUE4QjtFQUM5QiwrREFBK0Q7QUZ3RW5FO0FFbkVJO0VBQ0kseUJDUXNCO0VEUHRCLFlBQVk7QUZxRXBCO0FFbkVRO0VBQ0ksZ0RBQWdFO0VFekJ4RSx1SUFBcUs7RUFBckssNEVBQXFLO0VBQXJLLDBFQUFxSztFQUNySyw2QkFBcUI7VUFBckIscUJBQXFCO0VBQ3JCLGtCQUFrQjtBSitGdEI7QUVwRVE7RUFDSSxtQkFBbUI7QUZzRS9CO0FFbkVRO0VBQ0ksNkNBQWtFO0VBQ2xFLG1CQUFtQjtBRnFFL0I7QUVsRVE7RUFDSSxxQkFBcUI7RUFDckIsVUFBVTtBRm9FdEI7QUVoRVk7RUFDSSw2Q0FBaUU7QUZrRWpGO0FFL0RZO0VBQ0ksNkNBQWtFO0FGaUVsRiIsImZpbGUiOiJsYV9wYWxldHRlX2R1X2dvdXQuY3NzIn0= */