main > section {
  -webkit-box-shadow: 3px 0 12px lightgrey;
          box-shadow: 3px 0 12px lightgrey;
}

/* Carte des pages des menus */
main > section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
main > section header {
  font-size: 3.1rem;
}
main > section th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main > section th h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
main > section th img {
  display: none;
}
main > section tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main > section td:nth-child(odd) {
  font-size: 1.25rem;
}
main > section td:nth-child(even) {
  font-size: 1.55rem;
}

@media screen and (min-width: 768px) {
  main > section {
    width: 80%;
  }
  main > section th {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  main > section th img {
    display: inline-block;
    max-width: 15%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  main > section tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    padding-right: 0;
  }
  main > section td:nth-child(even) {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 992px) {
  main > section th img {
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  main > section th img {
    max-width: 30%;
  }
}
@font-face {
  font-family: 'dancing_scriptregular';
  src: url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot");
  src: url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff2") format("woff2"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff") format("woff"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.ttf") format("truetype"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}
#menu_le_delice_des_papilles section {
  background-color: #f9f9f9;
  color: black;
}
#menu_le_delice_des_papilles section header {
  font-family: "dancing_scriptregular", sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#229df9), color-stop(34%, #0670f3), color-stop(66%, #0228dd));
  background: -o-linear-gradient(right, #229df9 0%, #0670f3 34%, #0228dd 66%);
  background: linear-gradient(-90deg, #229df9 0%, #0670f3 34%, #0228dd 66%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#menu_le_delice_des_papilles section th {
  font-family: "segoeprint-regular", sans-serif;
  margin-bottom: 1.8rem;
}
#menu_le_delice_des_papilles section tbody tr {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#menu_le_delice_des_papilles section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
}
#menu_le_delice_des_papilles section td:nth-child(even) {
  font-family: "segoeprint-regular", sans-serif;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdXRpbHMvX3BsYWNlaG9sZGVyLnNjc3MiLCIuLi9sZV9kZWxpY2VfZGVzX3BhcGlsbGVzLmNzcyIsIi4uL3Njc3MvcGFnZXMvX21lbnVzLnNjc3MiLCIuLi9zY3NzL2xlX2RlbGljZV9kZXNfcGFwaWxsZXMuc2NzcyIsIi4uL3Njc3MvdXRpbHMvX3ZhcmlhYmxlcy5zY3NzIiwiLi4vc2Nzcy91dGlscy9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBSUE7RUFDSSx3Q0FBZ0M7VUFBaEMsZ0NBQWdDO0FDSHBDOztBQ0ZBLDhCQUFBO0FBQ0E7RUFDSSxVQUFVO0VBQ1Ysb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw0QkFBc0I7RUFBdEIsNkJBQXNCO01BQXRCLDBCQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIsd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFFbkIsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxVQUFVO0FESWQ7QUNGSTtFQUNJLGlCQUFnQztBREl4QztBQ0RJO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYixxQkFBaUI7TUFBakIsaUJBQWlCO0VBQ2pCLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0FERzNCO0FDRFE7RUFDSSxpQkFBZ0M7RUFDaEMsaUJBQWlCO0FERzdCO0FDQVE7RUFDSSxhQUFhO0FERXpCO0FDRUk7RUFDSSxvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLDRCQUFzQjtFQUF0Qiw2QkFBc0I7TUFBdEIsMEJBQXNCO1VBQXRCLHNCQUFzQjtFQUN0Qix1QkFBc0I7TUFBdEIsb0JBQXNCO1VBQXRCLHNCQUFzQjtFQUN0Qix5QkFBbUI7TUFBbkIsc0JBQW1CO1VBQW5CLG1CQUFtQjtBREEzQjtBQ0lRO0VBQ0ksa0JBQWlDO0FERjdDO0FDS1E7RUFDSSxrQkFBaUM7QURIN0M7O0FDUUE7RUFDSTtJQUNJLFVBQVU7RURMaEI7RUNPTTtJQUNJLHlCQUE4QjtRQUE5QixzQkFBOEI7WUFBOUIsOEJBQThCO0lBQzlCLGFBQWE7RURMdkI7RUNPVTtJQUNJLHFCQUFxQjtJQUNyQixjQUFjO0lBQ2QseUJBQXNCO09BQXRCLHNCQUFzQjtFRExwQztFQ1NNO0lBQ0ksb0JBQWE7SUFBYixvQkFBYTtJQUFiLGFBQWE7SUFDYiw4QkFBcUI7SUFBckIsNkJBQXFCO1FBQXJCLHlCQUFxQjtZQUFyQixxQkFBcUI7SUFDckIseUJBQThCO1FBQTlCLHNCQUE4QjtZQUE5Qiw4QkFBOEI7SUFDOUIseUJBQW1CO1FBQW5CLHNCQUFtQjtZQUFuQixtQkFBbUI7RURQN0I7RUNXVTtJQUNJLGdCQUFnQjtJQUNoQixnQkFBZ0I7RURUOUI7RUNZVTtJQUNJLGlCQUFpQjtJQUNqQixtQkFBYztRQUFkLGtCQUFjO1lBQWQsY0FBYztFRFY1QjtBQUNGO0FDZUE7RUFHWTtJQUNJLGNBQWM7RURmNUI7QUFDRjtBQ29CQTtFQUdZO0lBQ0ksY0FBYztFRHBCNUI7QUFDRjtBRTNFQTtFQUNJLG9DQUFvQztFQUNwQyx1RkFBdUY7RUFDdkYsbWlCQUkwSDtFQUMxSCxtQkFBbUI7RUFDbkIsa0JBQWtCO0FGeUV0QjtBRXRFQTtFQUNJLGlDQUFpQztFQUNqQyw4REFBOEQ7QUZ3RWxFO0FFckVBO0VBQ0ksOEJBQThCO0VBQzlCLCtEQUErRDtBRnVFbkU7QUVsRUk7RUFDSSx5QkNBMEI7RURDMUIsWUFBWTtBRm9FcEI7QUVsRVE7RUFDSSxnREFBb0U7RUV6QjVFLDRIQUFvSztFQUFwSywyRUFBb0s7RUFBcEsseUVBQW9LO0VBQ3BLLDZCQUFxQjtVQUFyQixxQkFBcUI7RUFDckIsa0JBQWtCO0FKOEZ0QjtBRW5FUTtFQUNJLDZDQUFzRTtFQUN0RSxxQkFBcUI7QUZxRWpDO0FFbEVRO0VBQ0ksaUJBQWlCO0VBQ2pCLGtCQUFrQjtFQUNsQixVQUFVO0FGb0V0QjtBRWhFWTtFQUNJLDZDQUFxRTtBRmtFckY7QUUvRFk7RUFDSSw2Q0FBc0U7QUZpRXRGIiwiZmlsZSI6ImxlX2RlbGljZV9kZXNfcGFwaWxsZXMuY3NzIn0= */