main > section {
  -webkit-box-shadow: 3px 0 12px lightgrey;
          box-shadow: 3px 0 12px lightgrey;
}

/* Carte des pages des menus */
main > section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
main > section header {
  font-size: 3.1rem;
}
main > section table {
  width: 100%;
}
main > section th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}
main > section th img {
  display: none;
}
main > section tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main > section td:nth-child(odd) {
  font-size: 1.25rem;
}
main > section td:nth-child(even) {
  font-size: 1.55rem;
}

@media screen and (min-width: 768px) {
  main > section {
    width: 80%;
  }
  main > section th {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  main > section th img {
    display: inline-block;
    max-width: 15%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  main > section tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main > section td:nth-child(odd) {
    text-align: left;
    padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  main > section td:nth-child(even) {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 992px) {
  main > section th img {
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  main > section th img {
    width: 30%;
    max-width: 300px;
  }
}
@font-face {
  font-family: 'dancing_scriptregular';
  src: url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot");
  src: url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff2") format("woff2"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff") format("woff"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.ttf") format("truetype"), url("../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeprint-regular';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}
@font-face {
  font-family: 'segoeprint-bold';
  src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}
#menu_le_delice_des_papilles section {
  background-color: #f9f9f9;
  color: black;
}
#menu_le_delice_des_papilles section header {
  font-family: "dancing_scriptregular", sans-serif;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #229df9), color-stop(34%, #0670f3), color-stop(66%, #0228dd));
  background: linear-gradient(-90deg, #229df9 10%, #0670f3 34%, #0228dd 66%);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
#menu_le_delice_des_papilles section header h2 {
  padding: 0 2rem;
}
#menu_le_delice_des_papilles section table {
  width: 100%;
  margin-bottom: 5.2rem;
}
#menu_le_delice_des_papilles section table:last-of-type {
  margin-bottom: 2rem;
}
#menu_le_delice_des_papilles section th {
  font-family: "segoeprint-regular", sans-serif;
  margin-bottom: 1.8rem;
  margin-bottom: 3.3rem;
}
#menu_le_delice_des_papilles section th span {
  position: relative;
}
#menu_le_delice_des_papilles section th span::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #0228dd;
  opacity: 0.8;
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
#menu_le_delice_des_papilles section th span:hover::after {
  width: 100%;
}
#menu_le_delice_des_papilles section table:nth-of-type(2) span::after {
  background-color: #0670f3;
}
#menu_le_delice_des_papilles section table:nth-of-type(3) span::after {
  background-color: #229df9;
}
#menu_le_delice_des_papilles section tbody tr {
  padding: 0 15%;
  margin: 0 auto 2.2rem;
}
#menu_le_delice_des_papilles section td:nth-child(odd) {
  font-family: "segoeprint-regular", sans-serif;
  margin-bottom: 0.7rem;
}
#menu_le_delice_des_papilles section td:nth-child(even) {
  font-family: "segoeprint-regular", sans-serif;
}

@media screen and (min-width: 768px) {
  #menu_le_delice_des_papilles section td:nth-child(odd) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  #menu_le_delice_des_papilles header h2 {
    font-size: 5.6rem;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdXRpbHMvX3BsYWNlaG9sZGVyLnNjc3MiLCIuLi9sZV9kZWxpY2VfZGVzX3BhcGlsbGVzLmNzcyIsIi4uL3Njc3MvcGFnZXMvX21lbnVzLnNjc3MiLCIuLi9zY3NzL2xlX2RlbGljZV9kZXNfcGFwaWxsZXMuc2NzcyIsIi4uL3Njc3MvdXRpbHMvX3ZhcmlhYmxlcy5zY3NzIiwiLi4vc2Nzcy91dGlscy9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBSUE7RUFDSSx3Q0FBZ0M7VUFBaEMsZ0NBQWdDO0FDSHBDOztBQ0ZBLDhCQUFBO0FBQ0E7RUFDSSxVQUFVO0VBQ1Ysb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw0QkFBc0I7RUFBdEIsNkJBQXNCO01BQXRCLDBCQUFzQjtVQUF0QixzQkFBc0I7RUFDdEIsd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFFbkIsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxVQUFVO0FESWQ7QUNGSTtFQUNJLGlCQUFnQztBREl4QztBQ0RJO0VBQ0ksV0FBVztBREduQjtBQ0FJO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYixxQkFBaUI7TUFBakIsaUJBQWlCO0VBQ2pCLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBQ25CLGlCQUFnQztFQUNoQyxpQkFBaUI7QURFekI7QUNDUTtFQUNJLGFBQWE7QURDekI7QUNHSTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsNEJBQXNCO0VBQXRCLDZCQUFzQjtNQUF0QiwwQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLHVCQUFzQjtNQUF0QixvQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBQ25CLFdBQVc7QUREbkI7QUNLUTtFQUNJLGtCQUFpQztBREg3QztBQ01RO0VBQ0ksa0JBQWlDO0FESjdDOztBQ1NBO0VBQ0k7SUFDSSxVQUFVO0VETmhCO0VDUU07SUFDSSx5QkFBOEI7UUFBOUIsc0JBQThCO1lBQTlCLDhCQUE4QjtJQUM5QixhQUFhO0VETnZCO0VDUVU7SUFDSSxxQkFBcUI7SUFDckIsY0FBYztJQUNkLHlCQUFzQjtPQUF0QixzQkFBc0I7RUROcEM7RUNVTTtJQUNJLG9CQUFhO0lBQWIsb0JBQWE7SUFBYixhQUFhO0lBQ2IsOEJBQXFCO0lBQXJCLDZCQUFxQjtRQUFyQix5QkFBcUI7WUFBckIscUJBQXFCO0lBQ3JCLHlCQUE4QjtRQUE5QixzQkFBOEI7WUFBOUIsOEJBQThCO0lBQzlCLHdCQUF1QjtRQUF2QixxQkFBdUI7WUFBdkIsdUJBQXVCO0VEUmpDO0VDWVU7SUFDSSxnQkFBZ0I7SUFDaEIsZ0JBQWdCO0lBQ2hCLG1CQUFhO1FBQWIsaUJBQWE7WUFBYixhQUFhO0VEVjNCO0VDYVU7SUFDSSxpQkFBaUI7SUFDakIsbUJBQWM7UUFBZCxrQkFBYztZQUFkLGNBQWM7RURYNUI7QUFDRjtBQ2dCQTtFQUdZO0lBQ0ksY0FBYztFRGhCNUI7QUFDRjtBQ3FCQTtFQUdZO0lBQ0ksVUFBVTtJQUNWLGdCQUFnQjtFRHJCOUI7QUFDRjtBRS9FQTtFQUNJLG9DQUFvQztFQUNwQyx1RkFBdUY7RUFDdkYsbWlCQUkwSDtFQUMxSCxtQkFBbUI7RUFDbkIsa0JBQWtCO0FGNkV0QjtBRTFFQTtFQUNJLGlDQUFpQztFQUNqQyw4REFBOEQ7QUY0RWxFO0FFekVBO0VBQ0ksOEJBQThCO0VBQzlCLCtEQUErRDtBRjJFbkU7QUV0RUk7RUFDSSx5QkNLMEI7RURKMUIsWUFBWTtBRndFcEI7QUV0RVE7RUFDSSxnREFBb0U7RUV6QjVFLHVJQUFxSztFQUFySywwRUFBcUs7RUFDckssNkJBQTZCO0VBQzdCLGtCQUFrQjtFRnlCVixnQkFBZ0I7RUFDaEIsbUJBQW1CO0FGMEUvQjtBRXhFWTtFQUNJLGVBQWU7QUYwRS9CO0FFdEVRO0VBQ0ksV0FBVztFQUNYLHFCQUFxQjtBRndFakM7QUV0RVk7RUFDSSxtQkFBbUI7QUZ3RW5DO0FFcEVRO0VBQ0ksNkNBQXNFO0VBQ3RFLHFCQUFxQjtFQUNyQixxQkFBcUI7QUZzRWpDO0FJN0dJO0VBQ0ksa0JBQWtCO0FKK0cxQjtBSTdHUTtFQUNJLFlBQVk7RUFDWixrQkFBa0I7RUFDbEIsT0FBTztFQUNQLFlBQVk7RUFDWix5QkFWMkI7RUFXM0IsWUFBWTtFQUNaLFdBQVc7RUFDWCxTQUFTO0VBQ1QsOEJBQXNCO0VBQXRCLHNCQUFzQjtBSitHbEM7QUk1R1E7RUFDSSxXQUFXO0FKOEd2QjtBRWxGWTtFQUNJLHlCQ3pCWTtBSDZHNUI7QUUvRVk7RUFDSSx5QkM5Qlc7QUgrRzNCO0FFN0VRO0VBQ0ksY0FBYztFQUNkLHFCQUFxQjtBRitFakM7QUUzRVk7RUFDSSw2Q0FBcUU7RUFDckUscUJBQXFCO0FGNkVyQztBRTFFWTtFQUNJLDZDQUFzRTtBRjRFdEY7O0FFckVBO0VBRVE7SUFDSSxnQkFBZ0I7RUZ1RTFCO0FBQ0Y7QUVuRUE7RUFFUTtJQUNJLGlCQUFpQjtFRm9FM0I7QUFDRiIsImZpbGUiOiJsZV9kZWxpY2VfZGVzX3BhcGlsbGVzLmNzcyJ9 */