.container {

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: $footer-size*2;

    @include extra-small-devices {
        margin-bottom: $footer-size;
    }
}

.grid__menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    grid-gap: 2.5rem;
    justify-items: center;

    @include extra-small-devices {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2.5rem;
    }


    article {
        width: 100%;
        height: 100vw;
        @extend %shadow;

        @include extra-small-devices {
            height: 290px;
        }

        a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

#laNoteEnchantée {

    @include menu_thumbnails (laNoteEnchantee);

    img {
        width: 1.6rem;
    }

    p {
        text-transform: uppercase;
    }
}

#leChicALaFrancaise {
    @include menu_thumbnails (leChicALaFrancaise);


    h2 {
        font-size: 0.8rem;
        @include text-gradient (0deg, leChicALaFrancaise);
    }
}

#leDeliceDesPapilles {
    @include menu_thumbnails (leDeliceDesPapilles);

    h2 {
        font-size: 1.3rem;
        @include text-gradient (0deg, leDeliceDesPapilles);
    }
}

#laPaletteDuGout {
    @include menu_thumbnails (laPaletteDuGout);

    h2 {
        font-size: 1.3rem;
        @include text-gradient (0deg, laPaletteDuGout);
    }
}