.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
}

.grid__menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2.5rem;
    justify-items: center;
    padding: 2.5rem 4rem;

    article {
        width: 100%;
        height: 290px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

#laNoteEnchantée {

    @include menu_thumbnails (laNoteEnchantee);

    img {
        width: 1.6rem;
    }

    p {
        text-transform: uppercase;
    }
}

#leChicALaFrancaise {
    @include menu_thumbnails (leChicALaFrancaise);


    h2 {
        font-size: 0.8rem;
        @include text-gradient (0deg, leChicALaFrancaise);
    }
}

#leDeliceDesPapilles {
    @include menu_thumbnails (leDeliceDesPapilles);

    h2 {
        font-size: 1.3rem;
        @include text-gradient (0deg, leDeliceDesPapilles);
    }
}

#laPaletteDuGout {
    @include menu_thumbnails (laPaletteDuGout);

    h2 {
        font-size: 1.3rem;
        @include text-gradient (0deg, laPaletteDuGout);
    }
}