.btn {
    display: block;
    font-family: $font-primary;
    font-size: $global-font-size;
    text-decoration: none;
    word-break: break-all;
    color: $font-color-primary;
    background-color: $color-primary;
    padding: 0.6rem 2rem;
    border-radius: 0.6rem;
}