body>footer {
    background-color: $color-primary;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: $footer-padding 1rem;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include extra-small-devices {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

    }
}

footer a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: $font-color-primary;
    font-family: $font-primary;
    font-size: $footer-font-size;

    &:first-child {
        margin-bottom: 10px;
    }

    @include extra-small-devices {
        &:first-child {
            margin-bottom: 0px;
        }

        width: auto;
    }
}