@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'pages/menus';

// La palette du gout
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot');
    src: url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.woff') format('woff'),
        url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.ttf') format('truetype'),
        url('../../fonts/la_palette_du_gout/kaushanscript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeprint-regular';
    src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}

@font-face {
    font-family: 'segoeprint-bold';
    src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}

#menu_la_palette_du_gout {

    section {
        background-color: map-get($laPaletteDuGout, bg);
        color: black;

        header {
            font-family: map-get($laPaletteDuGout, font-primary), sans-serif;
            @include text-gradient-3 (-90deg, $laPaletteDuGout);
        }

        table {
            margin-bottom: 2rem;
        }

        th {
            font-family: map-get($laPaletteDuGout, font-secondary), sans-serif;
            margin-bottom: 2rem;
        }

        tbody tr {
            margin: 0 auto 1.1rem;
            width: 90%;
        }

        td {
            &:nth-child(odd) {
                font-family: map-get($laPaletteDuGout, font-tertiary), sans-serif;
            }

            &:nth-child(even) {
                font-family: map-get($laPaletteDuGout, font-secondary), sans-serif;
            }
        }

    }
}