@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'pages/menus';

// Le chic à la francaise
@font-face {
    font-family: 'croissant_oneregular';
    src: url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot');
    src: url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff2') format('woff2'),
        url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.woff') format('woff'),
        url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.ttf') format('truetype'),
        url('../../fonts/le_chic_a_la_francaise/croissantone-regular/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'serif12_betaregular';
    src: url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot');
    src: url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff2') format('woff2'),
        url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.woff') format('woff'),
        url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.ttf') format('truetype'),
        url('../../fonts/le_chic_a_la_francaise/serif12-regular/serif12beta-regular-webfont.svg#serif12_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'serif12_betabold';
    src: url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot');
    src: url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff2') format('woff2'),
        url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.woff') format('woff'),
        url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.ttf') format('truetype'),
        url('../../fonts/le_chic_a_la_francaise/serif12-bold/serif12beta-bold-webfont.svg#serif12_betabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#menu_le_chic_a_la_francaise {

    section {
        background-color: map-get($leChicALaFrancaise, bg);

        header {
            font-family: map-get($leChicALaFrancaise, font-primary), sans-serif;
            font-size: 3.1rem;
            @include text-gradient-2 (-45deg, $leChicALaFrancaise);
            margin-bottom: 5rem;
            padding: 1rem;
        }

        table {
            width: 100%;
            margin-bottom: 6rem;

            &:nth-of-type(1) {
                color: map-get($leChicALaFrancaise, color-primary);
            }

            &:nth-of-type(2) {
                color: map-get($leChicALaFrancaise, color-secondary);

                & th span::after {
                    background-color: map-get($leChicALaFrancaise, color-secondary);
                }
            }

            &:nth-of-type(3) {
                color: map-get($leChicALaFrancaise, color-tertiary);
                margin-bottom: 2rem;

                & th span::after {
                    background-color: map-get($leChicALaFrancaise, color-tertiary);
                }
            }
        }

        th {
            font-family: map-get($leChicALaFrancaise, font-secondary), sans-serif;
            margin-bottom: 3.5rem;
            @include underline (span, $leChicALaFrancaise);
            font-size: 1.6rem;

            span {
                font-weight: normal;
            }
        }

        tbody tr {
            margin: 0 auto 2rem;
            padding: 0 15%;
        }

        td {
            &:nth-child(odd) {
                font-family: map-get($leChicALaFrancaise, font-tertiary), sans-serif;
                font-size: 1.1rem;
            }

            &:nth-child(even) {
                font-family: map-get($leChicALaFrancaise, font-secondary), sans-serif;
                font-size: 1.3rem;
                margin-top: 0.8rem;

            }
        }
    }
}


@media screen and (min-width: map-get($breakpoints, medium)) {
    #menu_le_chic_a_la_francaise>section {
        td:nth-child(even) {
            margin-top: 0;
        }

        table {
            margin-bottom: 5rem;
        }

        tbody tr {
            margin-bottom: 2.6rem;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, large)) {
    #menu_le_chic_a_la_francaise>section {
        header {
            margin-top: 2rem;
            margin-bottom: 7rem;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, extra-large)) {
    #menu_le_chic_a_la_francaise>section {}
}