@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'pages/menus';

// Le délice des papilles
@font-face {
    font-family: 'dancing_scriptregular';
    src: url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot');
    src: url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff2') format('woff2'),
        url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.woff') format('woff'),
        url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.ttf') format('truetype'),
        url('../../fonts/le_delice_des_papilles/dancingscript/dancing_script-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeprint-regular';
    src: url(../../fonts/la_note_enchantee/segoeprint/segoepr.ttf);
}

@font-face {
    font-family: 'segoeprint-bold';
    src: url(../../fonts/la_note_enchantee/segoeprint/segoeprb.ttf);
}

#menu_le_delice_des_papilles {

    section {
        background-color: map-get($leDeliceDesPapilles, bg);
        color: black;

        header {
            font-family: map-get($leDeliceDesPapilles, font-primary), sans-serif;
            @include text-gradient-3 (-90deg, $leDeliceDesPapilles);
            margin-top: 1rem;
            margin-bottom: 6rem;

            h2 {
                padding: 0 2rem;
            }
        }

        table {
            width: 100%;
            margin-bottom: 5.2rem;

            &:last-of-type {
                margin-bottom: 2rem;
            }
        }

        th {
            font-family: map-get($leDeliceDesPapilles, font-secondary), sans-serif;
            margin-bottom: 1.8rem;
            margin-bottom: 3.3rem;
        }

        tbody tr {
            padding: 0 15%;
            margin: 0 auto 2.2rem;
        }

        td {
            &:nth-child(odd) {
                font-family: map-get($leDeliceDesPapilles, font-tertiary), sans-serif;
                margin-bottom: 0.7rem;
            }

            &:nth-child(even) {
                font-family: map-get($leDeliceDesPapilles, font-secondary), sans-serif;

            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, medium)) {
    #menu_le_delice_des_papilles {
        section td:nth-child(odd) {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, large)) {
    #menu_le_delice_des_papilles {
        header h2 {
            font-size: 5.6rem;
        }
    }
}